<%- include('../includes/top-section.ejs') %>
    <main>
        <h1><% if (editMode === 'true') {%>Edit Book<% } else { %>Add Book<% } %></h1>
        <form action="<% editMode ? '/admin/add-book' : '/admin/edit-book' %>" method="POST">
            <div class="form-control">
                <label for="name">Book Name</label>
                <input type="text" name="name" id="name" value="<%= editMode ? product.name : '' %>">
            </div>
            <div class="form-control">
                <label for="authorName">Author</label>
                <input type="text" name="authorName" id="authorName" value="<%= editMode ? product.authorName : '' %>">
            </div>
            <div class="form-control">
                <label for="year">Year</label>
                <input type="number" name="year" id="year" value="<%= editMode ? product.year : '' %>">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea name="description" id="description" rows="10"><%= editMode ? product.description : '' %></textarea>
            </div>

            <% if (editMode) { %>
                <input type="hidden" name="id" value="<%= product.id %>">
            <% } %>

            <button type="submit"><% if (editMode) {%>Update<% } else { %>Add<% } %></button> 
        </form>
    </main>
<%- include('../includes/bottom-section.ejs') %>