<%- include('../includes/top-section.ejs') %>
<main>
    <% if (prods.length > 0) { %>
        <div class="grid">
            <% for (let book of prods) { %>
                <article class="card product-item">
                    <header class="card__header">
                        <h1 class="product__title"><%= book.name %></h1>
                    </header>

                    <div class="card__content">
                        <p class="product__year">Year: <%= book.year %></p>
                        <p class="product__price">Author: <%= book.authorName %></p>
                        <p class="product__description">Short Description: <%= book.description %></p>
                    </div>
                    <div class="btns">
                        <div class="btn-wrapper">
                        <a href="/admin/edit-book/<%= book.id %>?edit=true" class="adm-btn">Edit</a>
                        </div>
                        <div class="btn-wrapper">
                        
                            <form action="/admin/delete-book" method="POST" class="adm-btn-form">
                                <input 
                                    type="hidden" 
                                    name="id" 
                                    value="<%= book.id %>"
                                >
                                <button class="adm-btn" type="submit">Delete</button>
                            </form> 
                        </div>
                    </div>
                    
                    
                </article>
            <% } %>
        </div>
    <% } else { %>
        <h1>No Products Found!</h1>
    <% } %>
</main>
<%- include('../includes/bottom-section.ejs') %>
<%- include('../includes/bottom-section.ejs') %>